---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

import '../../assets/global.css'
import Hero from '../../components/ui/Hero';
import Card from '../../components/ui/Card';
import SectionFadeIn from '../../components/animation/SectionFadeIn';

export async function getStaticPaths() {
    const affiliations = await getCollection('affiliation')
    const affiliationsPaths = affiliations.map((item) => ({
        slug: item.slug,
        title: item.data.title,
        screenplay: item.data.screenplay,
    }))
    return affiliationsPaths.map((affiliation) => ({
        params: {slug: affiliation.slug},
        props: {affiliation}
    }))
}

const { affiliation } = Astro.props;
const { slug } = Astro.params;
const { title, screenplay } = affiliation

const screenplayArr = await getCollection('screenplay')
const screenplayArrFiltered = screenplayArr.filter(item => screenplay.includes(item.data.title))

const screenplayArrMapped = screenplayArrFiltered.map((item) => {
    return {...item.data, slug:item.slug}
})

const siteOrigin = Astro.url.origin

---

<Layout>
	<div class="w-[100vw] flex flex-col items-center p-10 overflow-hidden">
            <div class="flex flex-col gap-0 justify-center align-middle">
                <SectionFadeIn delay={1.5} client:load>
                    <a href={String(new URL(`archetype`, siteOrigin).toString())} class="text-md text-center font-black font-heading text-md">archetype</a>
                </SectionFadeIn>
                <SectionFadeIn duration={4} delay={3} client:load>
                    <p class="text-xl text-md text-center font-black font-heading text-liber-brown">{title}</p>
                </SectionFadeIn>
            </div>
        <div class="flex flex-wrap gap-12 my-32">
            {
                screenplayArrMapped && screenplayArrMapped.map((item, index) => {
                    const newPath = `archetype/tale/${item.slug}`
                    const absoluteUrl = new URL(newPath, siteOrigin).toString();

                    return (
                        <SectionFadeIn
                            duration={3}
                            delay={5}
                            client:load>
                            <Card client:load
                                link={absoluteUrl}
                                index={index}
                                title={item.title}
                                genres={item.genre}
                                />
                        </SectionFadeIn>
                    )
                })
            }
        </div>
	</div>
</Layout>
