---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/ui/Hero';
import Caption from '../../components/ui/Caption';

import '../../assets/global.css'
import Title from '../../components/sections/Title';
import SideBar from '../../components/sections/SideBar';

export async function getStaticPaths() {
    const screenplays = await getCollection('screenplay')
    const screenplaysPaths = screenplays.map((item) => ({
        slug: item.slug, 
        title: item.data.title, 
        premise: item.data.premise, 
        genre: item.data.genre, 
        synopsis: item.data.synopsis
    }))
    return screenplaysPaths.map((screenplay) => ({
        params: {slug: screenplay.slug},
        props: {screenplay}
    }))
}


const { screenplay } = Astro.props;
const { slug } = Astro.params;
const { title, premise, genre, synopsis} = screenplay

---

<Layout>
	<div class="w-[100vw] h-[100vh] flex flex-row items-start">
        <div class="w-[15%] h-full ">
            <div class="fixed w-[15%] top-0 bg-liber-red text-liber-beige h-full">
                <SideBar slug={slug} client:load />
            </div>
        </div>
        <div class="w-[85%] p-20">
            <Title client:load title={title}/>
            <div class="flex flex-col gap-12 my-80 pr-24">
                <div class="py-40">
                    <div 
                        id="premise"
                        data-section-id="premise"
                        >
                        <Caption client:load text={premise}/>
                    </div>
                </div>

                <div class="py-40">
                    <div 
                        id="genres"
                        data-section-id="genres"
                        >
                        <Caption client:load text={premise}/>
                    </div>
                </div>

                <div class="py-40">
                    <div 
                        id="synopsis"
                        data-section-id="synopsis"
                        >
                        <Caption client:load text={premise}/>
                    </div>
                </div>

                <div class="py-40">
                    <div 
                        id="strengths"
                        data-section-id="strengths"
                        >
                        <Caption client:load text={premise}/>
                    </div>
                </div>

            </div>
        </div>
	</div>
</Layout>